
<div class="wrapper ">
  <div class="sidebar" data-color="orange">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
      <a href="#" class="simple-text logo-mini">
        ToDo
      </a>
      <a href="#" class="simple-text logo-normal">
        Angular+Flask
      </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
      <ul class="nav">
        <li class="" *ngFor="let item of rutas">
          <a [routerLink]="item.link">
            <i [ngClass]="item.icon"></i>
            <p>{{item.name}}</p>
          </a>
        </li>7
        
      </ul>
    </div>
  </div>
  <div class="main-panel" id="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <a class="navbar-brand" href="">Dashboard</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="panel-header panel-header-sm">
      <canvas id="bigDashboardChart"></canvas>
    </div>
    <br><br><br>
    <div class="content">
      
      <router-outlet></router-outlet>

    </div>
    <footer class="footer">
      <div class=" container-fluid ">
        <nav>
          <ul>
            <li>
              <a href="https://sites.google.com/view/davidriveradelacruz/acerca-de-m%C3%AD">
                DAVID RIVERA
              </a>
            </li>
            
            <li>
              <a href="https://sites.google.com/view/davidriveradelacruz/proyectos/proyectos-python/ver">
                MIS PROYECTOS
              </a>
            </li>
          </ul>
        </nav>
        
      </div>
    </footer>
  </div>
</div>
